<!-- PanelControlAdmin.html (fragmento de navbar) -->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

</head>
<body>

  <div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #343a40;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Panel Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuPanel">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menuPanel">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/datos-empresa">Datos de la Empresa</a></li>
               <li class="nav-item"><a class="nav-link" href="/formulario-carrusel">Carrusel</a></li>
            <li class="nav-item"><a class="nav-link" href="/listar-productos">Listar Productos</a></li>
            <li class="nav-item"><a class="nav-link" href="/registrar-producto">Registrar Producto</a></li>
            <li class="nav-item"><a class="nav-link" href="/carrito/administrar_pedidos">Solicitud Ventas</a></li>
            <li class="nav-item"><a class="nav-link" href="/listarVentas">Listar Ventas</a></li>
          </ul>
         
        </div>
      </div>
    </nav>
  </div>

</body>
</html>
