<footer class="d-flex flex-wrap justify-content-between align-items-center py-3" style="background-color: #282828; padding: 0px 100px;">
  <p class="col-md-4 mb-0 text-white">© 2025 Chetos</p>

  <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <img th:src="@{/img/{logo}(logo=${empresa.logo})}" alt="logo chetos" height="100">
  </a>

  <ul class="nav d-flex flex-column ms-auto text-start" style="width: 250px;">
    <li class="nav-item d-flex align-items-center text-white mb-2">
        <i class="bi bi-whatsapp me-2" style="color: #ABA398;"></i>
        <span th:text="${empresa.whatsapp}"></span>
    </li>
    <li class="nav-item d-flex align-items-center text-white mb-2">
        <i class="bi bi-telephone-fill me-2" style="color: #ABA398;"></i>
        <span th:text="${empresa.telefono}"></span>
    </li>
    <li class="nav-item d-flex align-items-center text-white mb-2">
        <i class="bi bi-geo-alt-fill me-2" style="color: #ABA398;"></i>
        <span th:text="${empresa.direccion}"></span>
    </li>
    <li class="nav-item text-white">
        <span th:text="${empresa.horario}"></span>
    </li>
</ul>
</footer>